<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<form [formGroup]="loginForm" *ngIf="!isLogged">
  <div class="login-container">
    <mat-form-field>
      <input matInput placeholder="Username" type="text" id="username" formControlName="username"/>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Room" id="room" formControlName="room">
        <mat-option *ngFor="let room of rooms" [value]="room.id">{{room.name}} {{room.players.length}}/4</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button (click)="onSubmit()">Connect</button>
  </div>
</form>
<worms-player-list
  *ngIf="isLogged && !isPlaying"
  [player]="player"
  [players]="rooms[joinedRoom].players"
  [redTeam]="rooms[joinedRoom].redTeam"
  [blueTeam]="rooms[joinedRoom].blueTeam"
  (teamSelect)="onTeamSelect($event)"></worms-player-list>
<button *ngIf="isLogged && !isPlaying"
        mat-raised-button
        (click)="onPlayButton()"
        id="playButton">PLAY NOW!
</button>
<mat-card *ngIf="isLogged" id="messages">
  <mat-card-header (click)="openCloseMessages()">
    <mat-card-title>
      <h3>Messages</h3>
    </mat-card-title>
  </mat-card-header>
  <hr/>
  <mat-card-content>
    <mat-list id="messagesBox" dense>
      <mat-list-item *ngFor="let message of messages">
        <p>{{message}}</p>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions *ngIf="isMessagesOpen">
    <form [formGroup]="messagesForm" (ngSubmit)="sendMessage()" autocomplete="off">
      <mat-form-field>
        <input type="text" matInput formControlName="message" placeholder="Entrez votre message ..."/>
      </mat-form-field>
      <button mat-button type="submit">ENVOYER</button>
    </form>
  </mat-card-actions>
</mat-card>
<worms-game
  *ngIf="isPlaying"
  [player]="player"
  [players]="rooms[joinedRoom].players"
  [redTeam]="rooms[joinedRoom].redTeam"
  [blueTeam]="rooms[joinedRoom].blueTeam"></worms-game>
