<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<form [formGroup]="loginForm" *ngIf="!isLogged">
  <div class="login-container">
    <mat-form-field>
      <input matInput placeholder="Username" type="text" id="username" formControlName="username"/>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Room" id="room" formControlName="room">
        <mat-option *ngFor="let room of rooms" [value]="room.id">{{room.name}} {{room.players.length}}/4</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button (click)="onSubmit()">PLAY!</button>
  </div>
</form>
<worms-player-list
  *ngIf="isLogged"
  [player]="player"
  [players]="rooms[joinedRoom].players"
  [redTeam]="rooms[joinedRoom].redTeam"
  [blueTeam]="rooms[joinedRoom].blueTeam"
  (teamSelect)="onTeamSelect($event)"></worms-player-list>
