.login-container {
  display: flex;
  flex-direction: column;
}

.login-container > * {
  width: 50%;
  margin: auto;
}

#playButton {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 3rem;
}

#messages {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 400px;
  width: 300px;
  transition: height 0.5s ease-in;
}

#messages > mat-card-actions {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#messages > mat-card-actions {
  right: 0;
}

#messagesBox {
  overflow-y: auto;
  overflow-x: hidden;
  height: 280px;
}
